:root {
  --fontFamily: Poppins;
  --text-color: #484848;
}

.mainstyle {
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.bg {
  background-color: transparent !important;
}
