.bg {
    background-image: url("../../assets/images/ChooseCar/Vector.png");
    background-position: 2% bottom;
  
    background-size: 80% 150%;
    background-repeat: no-repeat;
    height: 100vh;
  }
  

.animate {
    animation: appear 5s  ease-out;
}

@keyframes appear {
    0%{
       max-width: 0%;
        display: none;
    }
    100%{
        max-width: 100%;
        display: block;
        
    }
    
}